<table>
    
    <tr>
        <th id="th-header">Year</th>
        <th id="th-header">{{agg}}</th>
    </tr>
        

    {{#each this.data}}
    <tr class="temp">
        <td>{{YEAR}}</td>
        <td>{{VAL}}</td>
    
    </tr>
    {{/each}}
            
</table>