<div class="container" id="records">
        <div class="pages">
            <label id="pageslbl">Pages:</label>
            <button class = "btn" id="viewSearchBtn" onclick="window.location.href='http://localhost:3000/';" >View and Search</button>
            <button class = "btn" id="addBtn" onclick="window.location.href='http://localhost:3000/addMovies';">Add Movies </button>
            <button class = "btn" id="reportsBtn" onclick="window.location.href='http://localhost:3000/reports';">Generate Reports</button>
        </div>

        <div class="pages">
            <label id="pageslbl">Generate:</label>
            <button class = "btn genBtn" id="genBtn1">Average Rating per Director</button>
            <button class = "btn genBtn" id="genBtn2">Average Rating per Actor</button>
            <button class = "btn genBtn" id="genBtn3">Number of Movies per Genre</button>
            <button class = "btn genBtn" id="genBtn4">Number of Movies per Actor</button>
            <button class = "btn genBtn" id="genBtn5">Number of Movies per Director</button>
        </div>
        
        <div id = "records-table">
            {{> reportRows this}}
        </div>

        <div class = "arrows">
            <button class = "btn" id="prevBtn">&lt;</button>
            <button class = "btn" id="nextBtn">&gt;</button>
        </div>
    </div>
