<div class="container" id="records">
        <div class="pages">
            <label id="pageslbl">Pages:</label>
            <button class = "btn" id="viewSearchBtn" onclick="window.location.href='/';" >View and Search</button>
            <button class = "btn" id="addBtn" onclick="window.location.href='/addMovies';">Add Movies </button>
            <button class = "btn" id="reportsBtn" onclick="window.location.href='/reports';">Generate Reports</button>
        </div>

        <div class="pages">
            <label id="pageslbl">Generate:</label>
            <button class = "btn genBtn" id="genBtn1">Average Rating per Year</button>
            <button class = "btn genBtn" id="genBtn2">Number of Movies per Year</button>
        </div>
        
        <div id = "records-table">
            {{> reportRows this}}
        </div>

        <div class = "arrows">
            <button class = "btn" id="prevBtn">&lt;</button>
            <button class = "btn" id="nextBtn">&gt;</button>
        </div>
    </div>
