  <div class="container" id="records">
            <div class="pages">
                <button class = "btn" id="toggleConBtn" onclick="window.location.href='http://localhost:3000/toggle';">Toggle Connection</button>
            </div>
            <div class="pages">
                <label id="pageslbl">Pages:</label>
                <button class = "btn" id="viewSearchBtn" onclick="window.location.href='http://localhost:3000/';" >View and Search</button>
                <button class = "btn" id="addBtn" onclick="window.location.href='http://localhost:3000/addMovies';">Add Movies </button>
                <button class = "btn" id="reportsBtn" onclick="window.location.href='http://localhost:3000/reports';">Generate Reports</button>
            </div>
            <div class = "Filter">
                <label class = "lbl">Filter by:</label>
                    <select name="filter-options" id="filter-options">
                        <option value="All" selected>All</option>
                        <option value="id">id</option>
                        <option value="title">title</option>
                        <option value="year">year</option>
                        <option value="rating">rating</option>
                        <option value="genre">genre</option>
                        <option value="director">director</option>
                        <option value="actor">actor</option>
                    </select>
            </div>
            
            <div class = "inputField">
                <input id = "search" type="text" placeholder="Search...">
            </div>
                       
            <div class = "applyfilter">
                <button class = "btn" id="applyFilterBtn">APPLY FILTER</button>
            </div>

            <div id = "records-table">
                {{> rows this}}
            </div>

            <div class = "arrows">
                <button class = "btn" id="prevBtn">&lt;</button>
                <button class = "btn" id="nextBtn">&gt;</button>
            </div>
        </div>
